header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#app_body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#articles-list {
  display: flex;
  flex-direction: column;
  width: 500px;
  /*margin: auto;*/
  background-color: rgba(200,200,200,.3);
  border-right: 4px dashed black;
}

.articles {
  width: 400px;
  height: 150px;
  text-align: center;
  margin: 1em auto;
}

#article-titles {
  cursor: pointer;
}

.sidebar {
  width: 200px;
  background-color: rgba(200,200,200,.3);
  /*margin: auto;*/
}

.false {
  border: 2px solid rgba(255,0,0,1);
  background-color: rgba(255,0,0,.3);
}

.mostly-false {
  border: 2px solid rgba(255,0,255,1);
  background-color: rgba(255,0,255,.3);
}

.somewhat-true {
  border: 2px solid rgba(0,0,255,1);
  background-color: rgba(0,0,255,.3);
}

.mostly-true {
  border: 2px solid rgba(255,255,0,1);
  background-color: rgba(255,255,0,.3);
}

.honest {
  border: 2px solid rgba(0,255,0,1);
  background-color: rgba(0,255,0,.3);
}
