header {
  background-color: white;
  position:fixed;
  top:0;
  left:0;
  z-index:2000;
  width: 100%;
}

#headerbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

h1 {
  font-size: 50px;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

h3, h4, h5, p, button, input, select {
  font-family: 'Sorts Mill Goudy', serif;
}

/*h3, h4, h5, p {
  padding: 15px 7px 7px;
}*/

#welcome-box {
  height: 200px;
  margin: 7em auto;
  text-align: center;
}

#welcome-quote {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 30px;
  margin: auto;
}

#welcome-quote p {
  margin-top: 8em;
}

#welcome-button {
  width: 150px;
}

#app-title {
  font-family: 'Cinzel Decorative', cursive;
}

#app-body {
  margin-top: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

#index-title {
  text-align: center;
  width: 100%;
  margin: auto;
}

#articles-list {
  display: flex;
  flex-direction: column;
  width: 500px;
  border-right: 2px solid black;
  text-align: center;
}

.articles {
  width: 400px;
  height: 200px;
  text-align: center;
  margin: 1em auto;
  overflow-y: scroll;
  cursor: pointer;
}

.articles:hover {
  background-color: rgba(0,0,0,0);
  transform: scale(1.1);
}

.sidebar {
  width: 400px;
  height: 600px;
  text-align: center;
}

#quotes-box {
  width: 320px;
  height: 170px;
  border: 2px solid black;
  text-align: center;
  margin: 1em auto;
  background-color: rgba(0,0,0,1);
}

#quotes-box p {
  color: white;
  margin-top: 14%;
  margin-left: 10px;
  margin-right: 10px;
}

#twitter-box {
  height: 350px;
  width: 320px;
  margin: 1em auto;
  overflow-y: scroll;
}

.false {
  border: 2px solid rgba(255,0,0,1);
  background-color: rgba(255,0,0,.3);
}

.mostly-false {
  border: 2px solid rgba(255,0,255,1);
  background-color: rgba(255,0,255,.3);
}

.somewhat-true {
  border: 2px solid rgba(0,0,255,1);
  background-color: rgba(0,0,255,.3);
}

.mostly-true {
  border: 2px solid rgba(255,255,0,1);
  background-color: rgba(255,255,0,.3);
}

.honest {
  border: 2px solid rgba(0,255,0,1);
  background-color: rgba(0,255,0,.3);
}

button {
  width: 100px;
  height: 56px;
  background-color: rgba(0,0,0,0);
}

#article-show-body {
  width: 500px;
  margin: 10em auto 0;
  text-align: center;
}

input, select {
  width: 17em;
  padding-left: 1em;
  height: 50px;
}

input, select, button {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: none;
  border-left: none;
  margin: 5px auto;
  font-size: 1em;
}

button:hover {
  background-color: rgba(0,0,0,1);
  color: white;
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

#delete-button:hover {
  background-color: rgba(255,0,0,1);
  animation: glowing 1500ms infinite;
}

input:hover, select:hover {
  background-color: rgba(10,10,10,.1);
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,.5);
}

button:focus, input:focus, select:focus {
  outline:0;
}


#limit-number {
  width: 120px;
}
