header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

h3, h4, h5, p, button, input {
  font-family: 'Sorts Mill Goudy', serif;
}

#app-title {
  font-family: 'Cinzel Decorative', cursive;
}

#app-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#index-title {
  text-align: center;
  width: 100%;
  margin: auto;
}

#articles-list {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: rgba(200,200,200,.3);
  border-right: 4px dashed black;
}

.articles {
  width: 400px;
  height: 170px;
  text-align: center;
  margin: 1em auto;
  overflow-y: scroll;
}

#article-titles {
  cursor: pointer;
}

.sidebar {
  width: 300px;
  height: 600px;
  background-color: rgba(200,200,200,.3);
  text-align: center;
}

#quotes-box {
  width: 250px;
  height: 200px;
  border: 2px solid black;
  text-align: center;
  margin: 1em auto;
  background-color: rgba(10,10,10,.1);
}

#twitter-box {
  height: 350px;
  width: 250px;
  margin: 1em auto;
  overflow-y: scroll;
}

.false {
  border: 2px solid rgba(255,0,0,1);
  background-color: rgba(255,0,0,.3);
}

.mostly-false {
  border: 2px solid rgba(255,0,255,1);
  background-color: rgba(255,0,255,.3);
}

.somewhat-true {
  border: 2px solid rgba(0,0,255,1);
  background-color: rgba(0,0,255,.3);
}

.mostly-true {
  border: 2px solid rgba(255,255,0,1);
  background-color: rgba(255,255,0,.3);
}

.honest {
  border: 2px solid rgba(0,255,0,1);
  background-color: rgba(0,255,0,.3);
}

#add-button, #add-button button, button {
  height: 40px;
  width: 100px;
  margin: auto;
}

#article-show-body {
  height: 700px;
  width: 500px;
  margin: auto;
  text-align: center;
}

input, select {
  width: 18em;
  height: 3em;
  padding-left: 1em;
  font-size: 1em;
}
