<div id="new-article-body">

<h2>Add a truth</h2>
<!--form to add new article to article list  -->
<form class="" ng-submit="vm.create()" method="post">
  <input placeholder="Title" ng-model="vm.newArticle.title">
  <input placeholder="Author" ng-model="vm.newArticle.author">
  <input placeholder="Source" ng-model="vm.newArticle.source">
  <input placeholder="Link" ng-model="vm.newArticle.link">
  <input placeholder="Tags" ng-model="vm.newArticle.tags">
  <select ng-model="vm.newArticle.rating" name="select">
    <option value="" selected>Rating</option>
    <option value="False">1 - False</option>
    <option value="Mostly False">2 - Mostly False</option>
    <option value="Somewhat True">3 - Somewhat True</option>
    <option value="Mostly True">4 - Mostly True</option>
    <option value="Honest">5 - Honest</option>
  </select>

  <div class="buttonbg">
    <button type="submit">Add Truth</button>
  </div>
</form>

</div>
