<h2>{{vm.article.title}}</h2>
<h3>By: {{vm.article.author}}</h3>
<h2>From: {{vm.article.source}}</h2>
<a href="{{vm.article.link}}" target="_blank">Go to Article</a>
<p>{{vm.article.tags}}</p>

<div>
  <button class="edit_button" ng-click="edit = !edit">Edit</button>
</div>

<div class="edit_form">
  <form class="editing" ng-show="edit" ng-submit="vm.update()">
    <input ng-model="vm.article.title">
    <input ng-model="vm.article.author">
    <input ng-model="vm.article.source">
    <input ng-model="vm.article.link">
    <input ng-model="vm.article.tags">
    <span class="buttonbg">
      <button type="submit" ng-click="edit = !edit" ng-show="edit">Update</button>
    </span>
  </form>

  <div>
    <button type="submit" ng-click="vm.delete(article)">Delete</button>
  </div>
</div>
