<h2>{{vm.article.title}}</h2>
<h3>By: {{vm.article.author}}</h3>
<h2>From: {{vm.article.source}}</h2>
<a href="{{vm.article.link}}" target="_blank">Go to Article</a>
<p>{{vm.article.tags}}</p>
<p>{{vm.article.rating}}</p>

<div>
  <button class="edit_button" ng-click="edit = !edit">Edit</button>
</div>

<div class="edit_form">
  <form class="editing" ng-show="edit" ng-submit="vm.update()">
    <input ng-model="vm.article.title">
    <input ng-model="vm.article.author">
    <input ng-model="vm.article.source">
    <input ng-model="vm.article.link">
    <input ng-model="vm.article.tags">
    <select ng-model="vm.article.rating" name="select">
      <option value="False">1 - False</option>
      <option value="Mostly False">2 - Mostly False</option>
      <option value="Somewhat True">3 - Somewhat True</option>
      <option value="Mostly True">4 - Mostly True</option>
      <option value="Honest">5 - Honest</option>
    </select>
    <span class="buttonbg">
      <button type="submit" ng-click="edit = !edit" ng-show="edit">Update</button>
    </span>
  </form>

  <div>
    <button type="submit" ng-click="vm.delete(article)">Delete</button>
  </div>
</div>
